.container {
    background-color: #9b9584;
}

.bg {
    background-color: #3F4E4F;
}

.el1 {
    color: whitesmoke;
    margin: 10px;
}

.el2 {
    color: whitesmoke;
    margin-top: 10px;
    margin-top: 20px;
    /* margin-left: 500px; */
}

.empty-vertical {
    border-radius: 10px;
    width: 250px;
    height: 400px;
    background-color: #745f4e;
}

.search-bar {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
    width: 150px;
    height: 25px;
    background-color: #745f4e;
}

.small-box {
    border-radius: 7px;
    width: 50px;
    height: 50px;
    background-color: #745f4e;
}

.empty-horizon {
    border-radius: 10px;
    width: 500px;
    height: 100px;
    background-color: #745f4e;
}